$PAGE_MAX_WIDTH: 1000px;

$PRIMARY_COLOR: #ffffff;
$PRIMARY_BACKGROUND_COLOR: #000000;

$SECONDARY_PRIMARY_COLOR: #000000;
// $SECONDARY_PRIMARY_BACKGROUND_COLOR: #bbbbbb;
$SECONDARY_PRIMARY_BACKGROUND_COLOR: #ffffff;

$BORDER_RADIUS: 0px;
